@import 'variables.scss';

.gallery {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__inner {
  @include wrapper();
  padding: 0 20px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-redactor__buttons {
  @include wrapper();
  padding: 0 20px;
  box-sizing: border-box;
  margin: auto;
}

.gallery__title,
.gallery__post-title {
  @include font(14px, 400, 30px);
  @include wrapper();
  text-align: center;
}

.img-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.img-post__photo {
  font-size: 0;
  line-height: 0;
  width: 100%;

  &--panorama {
    width: 100%;
    position: relative;
  }
}

.img-post__photo-of-the-day {
  @include font(12px, 700, 24px);
  color: $white;
  text-transform: uppercase;
  position: absolute;
  z-index: 10;
  top: 0;
  right:  20px;
  padding: 10px, 20px;
  background-color: $pink;
}

.img-post__post {
  background-color: $lightgrey;
  padding: 0 20px 20px 20px;
  max-width: 280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;

  &--panorama {
    margin: auto;
  }
}

.photo-redactor {
  background-color: $lightgrey;
}

.photo-redactor__inner {
  @include wrapper();
  display: flex;
  flex-direction: column;
  margin: auto;
}

.photo-redactor__photo {
  margin: auto;
  width: 280px;
  padding-top: 20px;
}

.photo-redactor__redactor-bar {
  margin-top: 43px;
  display: flex;
  margin-bottom: 38px;
}

.photo-redactor__crop-icon {
  width: 48px;
  height: 48px;
  background-image: url('../img/icon-editor-crop.svg');
}

.photo-redactor__paint-icon {
  width: 48px;
  height: 48px;
  background-image: url('../img/icon-editor-fill.svg');
}

.photo-redactor__contrast-icon {
  width: 48px;
  height: 48px;
  background-image: url('../img/icon-editor-contrast.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.img-post__time {
  @include font(12px, 300, 24px);
  text-transform: uppercase;
}

.img-post__like-count {
  @include font(12px, 400, 24px);
  color: $pink;
  text-transform: uppercase;
}

.img-post__heart-icon {
  display: inline-block;
  font-size: 0;
  vertical-align: baseline;
  width: 13px;
  height: 12px;
  background-image: url('../img/icon-heart.svg');
  margin-right: 15px;
}

.photo-redactor__controller {
  position: relative;
  margin-left: -15px;
  margin-top: 33px;
}

.photo-redactor__controller-bar {
  position: absolute;
  z-index: 10;
  top: 7px;
  left: 50%;
  margin-left: -50%;
  width: 241px;
  height: 2px;
  background-color: $darkblue;
}

.photo-redactor__controller-toggle {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: $white;
  border-radius: 50%;
  border: 2px solid $pink;
}

.photo-redactor__paint {
  .photo-redactor__controller {
    display: none;
  }
}

.photo-redactor__contrast {
  .photo-redactor__controller {
    display: none;
  }
}

.photo-redactor__redactor-bar {
  @include padding-rl(20px, 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-post__likes {
  order: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.img-post__comment {
  margin-top: 0;
}

.photo-redactor__crop {
  margin-bottom: 115px;
}

.photo-redactor__buttons {
  min-width: 280px;
  padding: 0;
  margin: auto;
}


@media (min-width: 660px) {

  .gallery {
    justify-content: space-between;
  }

  .img-post {
    width: 300px;

    &--panorama {
      width: 100%;
    }
  }

  .img-post__photo {
    font-size: 0;
    line-height: 0;
    width: 300px;

    &--panorama {
      background-color: $pink;
      position: relative;
      width: 100%;
      height: 509px;
    }
  }

  .img-post__post {
  background-color: $lightgrey;
  padding: 20px;
  max-width: 300px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;

  &--panorama {
    margin: auto;
    max-width: 620px;
    padding: 25px;
    box-sizing: border-box;
  }
}

  .photo-redactor__buttons {
    width: 100%;
    padding: 0;
  }

  .photo-redactor__inner {
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .photo-redactor__redactor-bar {
    flex-direction: column;
    border: none;
    padding: 0;
  }

  .photo-redactor__crop,
  .photo-redactor__paint,
  .photo-redactor__contrast {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dddfe0;
  }

  .photo-redactor__crop {
    margin-bottom: 0;
  }

  .photo-redactor__paint,
  .photo-redactor__contrast {
    margin-top: 25px;
  }

  .photo-redactor__contrast {
    margin-bottom: 65px;
  }

  .photo-redactor__paint {
    .photo-redactor__controller {
      display: block;
    }
  }

  .photo-redactor__contrast {
    .photo-redactor__controller {
      display: block;
    }
  }

  .photo-redactor__photo {
    margin: 0;
  }

  .photo-redactor__crop-icon,
  .photo-redactor__paint-icon,
  .photo-redactor__contrast-icon {
    width: 24px;
    height: 24px;
    background-size: 100%;
  }

  .photo-redactor__controller-bar {
    width: 202px;
    top: -23px;
    left: 208px;
  }

  .photo-redactor__controller-toggle {
    top: -30px;
    left: 50px;
  }

  .photo-redactor__controller {
    width: 276px;
  }

  .gallery__title,
  .gallery__post-title {
    @include font(18px, 400, 30px);
    @include padding-rl(95px, 95px);
    text-align: center;
  }
}

@media (min-width: 960px) {

  .img-post__photo {

    &--panorama {
      background-color: $pink;
      position: relative;
      width: 100%;
      height: 506px;
    }
  }

  .img-post__post {

    &--panorama {
      margin: auto;
      max-width: 940px;
      padding: 25px;
      box-sizing: border-box;
    }
  }

  .photo-redactor__redactor-bar {
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    width: 410px;
  }

  .photo-redactor__buttons {
    width: 410px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}


