@import 'variables.scss';

.intro {
  background-color: $darkblue;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}

.intro__promo {
  @include wrapper();
  height: 735px;
  margin: auto;
  background-image: url('../img/iphone-hand-mobile@1x.png');
  background-position: top;
  background-repeat: no-repeat;
  background-position: left 163px;

  &--inner-page {
    background-image: none;
    height: 237px;
  }
}

.intro__header {
  @include font(24px, 300, 24px*1.2);
  color: $white;
  width: 220px;
  text-align: center;
  padding-top: 73px;
  margin-bottom: 320px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.intro-downloads {
  background-color: $darkblue;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 270px;
}

.intro-downloads__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.intro-downloads__buttons {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 205px;
  align-items: flex-end;
  padding-top: 31px;

}

.intro-downloads__btn {
  font-size:0;
}

.intro-downloads__text {
  color: $white;
  text-align: center;
  width: 280px;
  margin: auto;
}


@media (min-width: 660px) {

  .intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('../img/bg-back-tablet@1x.jpg');
    background-repeat: no-repeat;
  }

  .intro__header {
    @include font(40px, 300, 40px*1.2);
    width: 200px;
    margin-bottom: 25px;
    margin-left:55px;
    margin-right: auto;
    text-align: center;

    &--inner-page {
      text-align: center;
      width: 100%;
      margin: auto;
    }
  }

  .intro__promo {
    @include wrapper-fluid();
    @include padding-rl(20px, 20px);
    box-sizing: border-box;
    height: 620px;
    display: flex;
    flex-direction: column;
    background-image: url('../img/iphone-hand-tablet@1x.png');
    background-repeat: no-repeat;
    background-position: right bottom;

     &--inner-page {
      background-image: none;
      height: 237px;
    }
  }

  .intro-downloads {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 271px;
    width: 300px;
    margin-left:0;
    margin-right: auto;
    margin-bottom: 100px;
  }
}

@media (min-width: 960px) {

  .intro {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('../img/bg-back-desktop@1x.jpg');
    background-position: top;
    background-repeat: no-repeat;
  }

  .intro__promo {
    width: 300px;
    height: auto;
    margin-right: 580px;
    display: flex;
    flex-direction: column;
  }

  .intro-downloads__inner {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0 ;
    margin-right: auto;
    height: 310px;
  }

  .intro-downloads {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 282px;
    width: 300px;
    margin-top: 0;
  }

  .intro__promo {
    @include wrapper();
    @include padding-rl(10px, 10px);
    box-sizing: border-box;
    height: 853px;
    display: flex;
    flex-direction: column;
    background-image: url('../img/iphone-hand-desktop@1x.png');
    background-repeat: no-repeat;
    background-position: 25px bottom;

    &--inner-page {
        background-image: none;
        height: 395px;
      }
  }

   .intro__header {
    @include font(50px, 300, 50px*1.2);
    width: 250px;
    margin-left: 25px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 145px;
    text-align: center;

    &--inner-page {
      text-align: center;
      width: 100%;
      margin: auto;
    }
  }

  .intro-downloads__text {
    @include font(18px, 300, 24px);
    width: 300px;
  }

  .intro-downloads__buttons {
    padding-top: 0;
  }
}

