@import 'variables.scss';

.main-menu {
  background-color: $darkblue;
  max-width: 100%;
  display: flex;
}

.main-menu__inner {
  @include wrapper();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-menu__header {
  border-bottom: 1px solid #000;
  height: 69px;
}

.main-menu__header-inner {
  display: flex;
  width: 280px;
  margin: auto;
  justify-content: space-between;
  flex-direction: row;
}

.main-menu__logo {
  display: flex;
  padding-top: 25px;
}

.main-menu__toggle {
  width: 50px;
  height: 24px;
  background-image: url('../img/icon-menu-cross.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  align-self: center;
  padding-top: 25px;
}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-menu__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
  @include padding-tb(14px, 14px);
}

.main-menu__link {
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  transition: all 0.3s;
  text-align: center;
  @include font(18px, 700, 32px);

  &:hover {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    color: $pink;
  }
}

.main-menu__toggle {
  font-size: 0;
}

.main-menu__link-desktop,
.main-menu__link-tablet {
  display: none;
}

@media (min-width: 660px) {

  .main-menu__header {
    height: 107px;
  }

  .main-menu__header-inner {
    @include wrapper-fluid();
  }

  .main-menu__header-inner {
    @include padding-rl(20px, 20px);
    margin: auto;
    width: 620px;
  }

  .main-menu__logo {
    padding-top: 25px;
  }

  .main-menu__toggle {
    background-position: right bottom;
  }

  .main-menu__toggle {
    padding-top: 43px;
  }

  .main-menu__link-mobile {
    display: block;
  }

  .main-menu__link-mobile,
  .main-menu__link-desktop {
  display: none;
  }
}

@media (min-width: 960px) {

  .main-menu {
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 100%;
  }

  .main-menu__inner {
    @include wrapper();
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-menu__header {
    height: 110px;
  }

  .main-menu__header-inner {
    width: auto;
  }

  .main-menu__toggle {
    display: none;
  }

  .main-menu__header-inner {
    @include padding-rl(0, 0);
    width: auto;
    box-sizing: border-box;
    margin-left: 0;
  }

  .main-menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
  }

  .main-menu__item {
    margin-right: 0;
    margin-left: 80px;
    border: none;
  }

  .main-menu__link {
    @include font(18px, 400, 18px);
    text-transform: capitalize;
    padding-bottom: 10px;

    &--active {
      border-bottom: 2px solid $pink;
    }
  }

  .main-menu__link-mobile,
  .main-menu__link-tablet {
    display: none;
  }

  .main-menu__link-desktop {
    display: block;
  }

  .main-menu__logo-letters:hover {

    .main-menu__logo-letter {
      fill: #D22856;
    }
  }
}
