@import 'variables.scss';

.main-menu {
  background-color: $darkblue;
  max-width: 100%;
}

.main-menu__inner {
  @include wrapper();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-menu__header {
  border-bottom: 1px solid #000;
}

.main-menu__header-inner {
  @include padding-rl(20px, 20px);
  display: flex;
  width: 280px;
  margin: auto;;
}

.main-menu__logo {
  font-size: 0;
}

.main-menu__logo-mobile {
  display: block;
}

.main-menu__logo-tablet {
  display: none;
}

.main-menu__logo-desktop {
  display: none;
}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-menu__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}

.main-menu__link {
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  transition: all 0.3s;
  text-align: center;
  @include font(1.125em, 700, 2em);

  &:hover {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    color: $pink;
  }
}

.main-menu__toggle {
  font-size: 0;
}

@media (min-width: 660px) {

  .main-menu__header-inner {
  @include padding-rl(20px, 20px);
  display: flex;
  width: 620px;
  }

  .main-menu__logo-mobile {
    display: none;
  }

  .main-menu__logo-desktop {
  display: none;
  }

  .main-menu__logo-tablet {
    display: inline-block;
  }
}

@media (min-width: 960px) {
  .main-menu {
    height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-menu__inner {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 960px;
    justify-content: space-between;  }

  .main-menu__list {
    width: 620px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .main-menu__item {

  }

  .main-menu__header {
  border-bottom: 1px solid transparent;
  width: 300px;
  }

  .main-menu__header-inner {
  @include padding-rl(20px, 20px);
  display: flex;
  width: 920px;
  flex-direction: row;
  justify-content: space-between;
  }
   .main-menu__logo-mobile {
    display: none;
  }

  .main-menu__logo-tablet {
    display: none;
  }

  .main-menu__logo-desktop {
  display: inline-block;
  }

  .main-menu__toggle {
    display: none;
  }
}
