@import 'variables.scss';

.page-content {
  @include font(0.875em, 400, 1.500em);
  color: $darkblue;
}

.page-content__h1 {
  @include font(0.875em, 400, 1.500em);

  &--visually-hidden {
    display: none;
  }
}

@media (min-width: 660px) {
  @include wrapper-fluid();
}
