@import 'global/variables.scss';

.price {
  background-color: $lightgrey;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 34px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: url('../img/bg-triangle-white.svg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 0 0;
  }
}

.price-tables__wrapper {
  overflow: hidden;
  width: 100%;
  padding: 85px 20px 98px 20px;
  box-sizing: border-box;
  position: relative;
}

.price-table__header {
  background-color: $darkblue;

  &--mobile {
    display: none;
  }
}

.price-table__item {

  &--mobile {
    display: none;
  }
}

.price-table {
  border-collapse: collapse;
  width: 300%;
  margin-left: -100%;

  td {
    background-color: $white;
    border: 2px solid #e5e5e5;
    padding-left: 22px;
    height: 56px;
  }

  th {
    border-bottom: none;
  }
}

.price-table__header {
  border: 2px solid $lightgrey;

  &--flag-hit {
    position: relative;
  }

  &--flag-hit::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-hit-tablet.svg');
    background-size: 74px 73px;
    background-repeat: no-repeat;
  }
}

.price-table__inner {
  width: 25%;
  overflow: hidden;
}

.price-table__title {
  @include font(18px, 700, 30px);
  color: $white;
  text-transform: uppercase;
  margin-bottom: 0;
}

.price-table__amount {
  @include font(24px, 300, 30px);
  color: $white;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.price-table__item {
  @include font(14px, 400, 30px);
  padding: 10px, 20px;
  text-transform: uppercase;
  position: relative;

  span {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 20px;
  }
}

.price__control-btn {
  width: 6px;
  height: 6px;
  background-color: #b5b9be;
  border-radius: 50%;
  border: 2px solid $lightgrey;
  cursor: pointer;
}


#price-1:checked ~ .price__controls .price__control-btn[for='price-1'],
#price-2:checked ~ .price__controls .price__control-btn[for='price-2'],
#price-3:checked ~ .price__controls .price__control-btn[for='price-3'] {
  background-color: $lightgrey;
  border: 2px solid $darkblue;
}

/*.price__controls {
  position: absolute;
  z-index: 10;
  bottom: 50px;
  left: 50%;
  min-width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/

.price-table__check {
  display: block;
  font-size: 0;

  &--no {
    width: 27px;
    height: 26px;
    background-image: url('../img/icon-no.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    margin-top: -13px;
  }

  &--yes {
    width: 31px;
    height: 22px;
    background-image: url('../img/icon-yes.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    margin-top: -11px;
  }
}

.price__toggle {
  opacity: 0;
}


@media (min-width: 660px) {

  .price {

    &::before {
      content: '';
      width: 100%;
      height: 55px;
      position: absolute;
      z-index: 10;
      top: 0;
      left: -5px;
      background-image: url('../img/bg-triangle-white.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 0;
    }
  }

  .price-tables {
    @include wrapper();
    padding: 0 0;
    border-collapse: collapse;
  }

  .price-tables__wrapper {
    overflow: hidden;
    width: 100%;
    padding: 85px 20px 65px 20px;
    box-sizing: border-box;
    margin-bottom: 41px;
  }

  .price-table {
    width: 100%;

    th,
    td {
      width: 25%;
      display: table-cell;
      padding: 0;
    }

    td {
      height: 46px;
      padding-left: 15px;
    }
  }

  .price-table__title {
    @include font(16px, 700, 30px);
    margin-top: 15px;
    margin-bottom: 0;
  }

  .price-table__amount {
    @include font(18px, 300, 30px);
    margin-top: -5px;
    margin-bottom: 8px;
  }

  .price-table__inner {
    width: 25%;
  }

  .price-table__item {

    &--mobile {
      @include font(14px, 400, 14px);
      text-transform: capitalize;
      display: block;
    }

    &--table {
      font-size: 0;
    }
  }

   .price-table__check {

    &--no {
      left: 50%;
      margin-left: -13px;
    }

    &--yes {
      left: 50%;
      margin-left: -15px;
    }
  }

  .price-table__header {

    &--mobile {
      display: block;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .price-table__header {

    &--flag-hit::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 61px;
      height: 61px;
      background-image: url('../img/bg-hit-tablet.svg');
      background-size: 61px 61px;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 960px) {

  .price {

    &::before {
      content: '';
      width: 100%;
      height: 100px;
      position: absolute;
      z-index: 10;
      top: 0;
      left: -5px;
      background-image: url('../img/bg-triangle-white.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 0;
    }
  }

  .price-tables {
    @include wrapper();
    padding: 0 0;
    border-collapse: collapse;
  }

  .price-tables__wrapper {
    overflow: hidden;
    width: 100%;
    padding: 145px 10px 98px 10px;
    box-sizing: border-box;
  }

  .price-table__title {
    @include font(18px, 700, 30px);
    margin-top: 15px;
    margin-bottom: 0;
  }

  .price-table__amount {
    @include font(24px, 300, 30px);
    margin-top: 0;
    margin-bottom: 25px;
  }

  .price-table__item {

    p {
      @include font(18px, 400, 22px);
      padding-left: 6px;
    }
  }
}
