@import 'variables.scss';

.price {
  background-color: $lightgrey;
}

.price-tables__wrapper {
  overflow: hidden;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.price-table__header {
  background-color: $darkblue;

  &--mobile {
    display: none;
  }
}

.price-table__item {

  &--mobile {
    display: none;
  }
}

.price-table {
  border-collapse: collapse;
  width: 300%;

  td {
    background-color: $white;
    border: 2px solid $lightgrey;
  }
}

.price-table__header {
  border: 2px solid $lightgrey;
}

.price-table__inner {
  width: 25%;
  overflow: hidden;
}

.price-table__title {
  @include font(18px, 700, 30px);
  color: $white;
}

.price-table__amount {
  @include font(24px, 300, 30px);
  color: $white;
}

.price-table__item {
  @include font(14px, 400, 30px);
  padding: 10px, 20px;
  text-transform: uppercase;
}

/*.price__control-btn {
  width: 6px;
  height: 6px;
  background-color: #b5b9be;
  border-radius: 50%;
  border: 2px solid $lightgrey;
  cursor: pointer;
}


#price-1:checked ~ .price__controls .price__control-btn[for='price-1'],
#price-2:checked ~ .price__controls .price__control-btn[for='price-2'],
#price-3:checked ~ .price__controls .price__control-btn[for='price-3'] {
  background-color: $lightgrey;
  border: 2px solid $darkblue;
}

.price__controls {
  position: absolute;
  z-index: 10;
  bottom: 50px;
  left: 50%;
  min-width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/

.price-table__check {
  display: block;
  font-size: 0;

  &--no {
    width: 27px;
    height: 26px;
    background-image: url('../img/icon-no.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  &--yes {
    width: 31px;
    height: 22px;
    background-image: url('../img/icon-yes.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
}

.price__toggle {
  opacity: 0;
}

@media (min-width: 660px) {

  .price-tables {
    @include wrapper();
    @include padding-rl(20px, 20px);
    box-sizing: border-box;
  }

  .price-tables__wrapper {
    width: 100%;
  }

  .price-table__inner {
    width: 25%;
  }

  .price-table__item {

    &--mobile {
      display: block;
    }
  }

  .price-table__header {

    &--mobile {
      display: block;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .price-table__item {

    &--table {
      font-size: 0;
    }
  }

  .price-table {
    border-collapse: collapse;
    width: 100%;
  }

}
